.unit-main {
  width: 80%;
}

.unit-contents {
  display: flex;
  flex-flow: column;
  margin-left: 2rem;
  gap: 2rem;
}

.unit-render {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2.5%;
  width: 100%;
  border-radius: 1rem;
}

.unit-render:hover {
  background-color: rgba(0, 0, 0, 0.767);
  transition: 0.3s;
}

@media only screen and (max-width: 686px) {
  .unit-render {
    width: 115%;
    padding: 1rem;
    padding-left: 1.5rem;
  }
}
