.About-section {
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.about-text p {
  text-align: left;
}

.About-video {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}
video {
  height: 20rem;
  border: 2px solid black;
  border-radius: 1.5rem;
}

@media only screen and (max-width: 686px) {
  video {
    height: 22vh;
  }
}
