.f-main {
  scale: 0.8;
  position: relative;
  left: 35%;
  color: white !important;
  padding: 1rem;
  width: 35%;
  border-left: 0.5rem solid rgba(52, 52, 52, 0.6);
  border-right: 0.5rem solid rgba(52, 52, 52, 0.6);
  border-radius: 1rem;
  background-color: var(--Black);
}

h2 {
  padding: 2rem;
}

select {
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 150%;
}

input {
  padding: 5px;
  z-index: 1;
}

label {
  color: white;
  padding-bottom: 0.5rem;
  font-weight: 5rem;
  font-weight: bold;
}

.f-content {
  color: white !important;
}

#files {
  color: var(--buttonBlack);
  background-color: white;
  border-radius: 0.5rem;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 3.5rem;
}

.radios {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.r-button {
  display: flex;
  flex-flow: column;
  gap: 5 px;
}

button {
  color: white;
  padding: 0.5rem;
  width: 50%;
  border-radius: 0.5rem;
  background-color: black;
  border: 2px solid black;
}

button:hover {
  transition: 0.2s;
  background-color: rgb(56, 56, 56);
}

label {
  color: white !important;
}

.pdfsFile {
  height: fit-content;
  scale: 0.8;
  background-color: white !important;
  position: relative !important;
  top: 2rem !important;
  padding: 3rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 686px) {
  .f-main {
    width: 120%;
    position: relative;
    left: -2rem;
  }

  select {
    width: 100%;
  }
}
